<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет products -->
{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h2>Кол-во новостей: {{ news|length }}</h2>
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
   <hr>
   {% if news %}
       <table width="1500px">
           <tr>
               <th width="300px">Заголовок</th>
               <th width="300px">Дата публикации</th>
               <th width="900px">Текст</th>
           </tr>

           {% for post in news %}
           <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.dateCreation|date:'d M Y' }}</td>
               <td>{{ post.text|truncatechars:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
      <a href="?page=1">1</a>
      {% if page_obj.previous_page_number != 1 %}
         ...
         <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
      {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
      {% if paginator.num_pages != page_obj.next_page_number %}
          ...
          <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
      {% endif %}
   {% endif %}

{% endblock content %}