<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет products -->
{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости категории: {{ category }}</h1>
       {% if is_not_subscriber %}
            <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
       {% elif is_subscriber %}
            <p class="text-center"><a href="{% url 'unsubscribe' category.id %}" class="btn btn-secondary btn-sm">Отписаться</a></p>
       {% endif %}
   <h2>Кол-во новостей: {{ category_list|length }}</h2>

   <hr>


       <table width="1500px">
           <tr>
               <th width="300px">Заголовок</th>
               <th width="300px">Категории</th>
               <th width="300px">Дата публикации</th>
               <th width="900px">Текст</th>


           </tr>

           {% for post in category_list %}
           <tr>
               <td><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></td>
               <td><small class="fw-bold">
                    {% for category in post.postCategory.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
               </small></td>
               <td>{{ post.dateCreation|date:'d M Y' }}</td>
               <td>{{ post.text|truncatechars:20 }}</td>

           </tr>
           {% endfor %}

       </table>



   {% if page_obj.has_previous %}
      <a href="?page=1">1</a>
      {% if page_obj.previous_page_number != 1 %}
         ...
         <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
      {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
      {% if paginator.num_pages != page_obj.next_page_number %}
          ...
          <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
      {% endif %}
   {% endif %}

{% endblock content %}